Date = <%= @run.date %> <br>

Tags: <% @run.tags.each do |tag| %>
    <%= tag %> 
<% end %>

<% 
background = ['rgba(100, 6, 40, 0.6)', 'rgba(150, 6, 40,  0.6)', "rgba(200, 6, 40,  0.6)"]
data = {
  labels: @run.data["results"].keys,
  datasets: @run.data["test_cases"].each_with_index.map { |test_case, i| 
     dataValue = @run.data["results"].values.map {|arr| arr[i]}
     { label: test_case, backgroundColor: background[i], data: dataValue }
  }
} 
        
options = { width: "1000px", height: "500px",
            animation: { duration: 1000, easing: 'easeOutQuint' }, 
            layout: { padding: { left: 10, right: 0, top: 0, bottom: 0} },
            title: { text: [@run.title, @run.data["unit"]], font_size: "20", display: true } }

%>
<div style="width:100%; height:500px">
<%= horizontal_bar_chart data, options %>
</div>